/*--------------Importing the Roboto Font--------------*/

@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
    font-weight: normal;
  }

  h1 {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  
  h3 {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }
  
  .base-text, p {
    font-size: $base-text;
    line-height: 19px;
  }
  .text-r {
    text-align: right;
  }
  
  .small-text {
    font-size: $small-text;
    line-height: 14px;
  }
  .color-p {
    color: $primary
  }
  .color-s {
    color: $secondary
  }
  .color-w {
    color: $white
  }