.footer {
    position: relative;
    margin-top: 48px;
    padding: 24px 0 12px 0;
    height: 50px;
    max-width: 100%;
    background-color: #333333;

    //Overwrite the a, button, .button { in line 14 buttons.scss 
    a {
        margin: 0;
        height: 0;
        width: 0;
        display: inline-block;
        position: absolute;
    }
}

.universidad {
    left: 24px;
    img {
        width: 107px;
        height: auto;
    }
}

.migracode {
    right: 132px;
    img {
        width: 107px;
        height: auto;
    }
}
