label {
    display: block;
    margin: 16px 0 10px 0;
    // color: $white;
    // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  input, textarea {
    width: 340px;
    height: 48px;
  
    padding: 14px;
    
    background: $white;
    border: 1px solid $secondary;
    box-sizing: border-box;
    border-radius: 4px;
  
    color: $primary;
    font-size: $base-text;
  }
  
  ::placeholder {
    color: $primary;
  }
  
  input:focus, textarea:focus {
    outline: none;
  }
  
  textarea {
    height: 123px;
    resize: none;
  }

  .container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 52px 0 98px 0; 
  }
  
  form {
    margin-top: 42px;
  }
  
  input[type="date"]::-webkit-inner-spin-button {
    opacity: 0
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
    color: rgba(0, 0, 0, 0);
    opacity: 0.5
  }
  
  input[type=date] {
    -moz-appearance: textfield;
  }

  .im_a_buddy {
    display: none;
  }

  .formwrapper {
    position: absolute;
    -webkit-animation: fadein 0.25s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.25s; /* Firefox < 16 */
     -ms-animation: fadein 0.25s; /* Internet Explorer */
      -o-animation: fadein 0.25s; /* Opera < 12.1 */
         animation: fadein 0.25s;
    z-index: -1;
    width: 30%;
    left: 35%;
    top: 38%;
    border-radius: 10px;
  }
    
  .fadein1 {
    -webkit-animation: fadein 1.50s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.50s; /* Firefox < 16 */
        -ms-animation: fadein 1.50s; /* Internet Explorer */
         -o-animation: fadein 1.50s; /* Opera < 12.1 */
            animation: fadein 1.50s;
            opacity: 75%;
}

.fadein2 {
  -webkit-animation: fadein 1.75s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1.75s; /* Firefox < 16 */
      -ms-animation: fadein 1.75s; /* Internet Explorer */
       -o-animation: fadein 1.75s; /* Opera < 12.1 */
          animation: fadein 1.75s;
          opacity: 75%;
}

.fadein3 {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
          opacity: 75%;
}

.fadein4 {
  -webkit-animation: fadein 2.25s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2.25s; /* Firefox < 16 */
      -ms-animation: fadein 2.25s; /* Internet Explorer */
       -o-animation: fadein 2.25s; /* Opera < 12.1 */
          animation: fadein 2.25s;
          opacity: 75%;
}

.fadein5 {
  -webkit-animation: fadein 2.50s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2.50s; /* Firefox < 16 */
      -ms-animation: fadein 2.50s; /* Internet Explorer */
       -o-animation: fadein 2.50s; /* Opera < 12.1 */
          animation: fadein 2.50s;
          opacity: 75%;
}

@keyframes fadein {
    0% { opacity: 0%; }
    100%  { opacity: 75%; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% { opacity: 0%; }
  100%  { opacity: 75%; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% { opacity: 0%; }
  100%  { opacity: 75%; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0% { opacity: 0%; }
  100%  { opacity: 75%; }
} 

  .formitself{
    z-index: 2;
    display:flex;
    flex-direction: column;
    

  }


  
