.row {  
    display: flex; 
    flex-wrap: wrap; 
    *, *:before, *:after {
        box-sizing: border-box;
    }
}

.col-50 { 
    width:50% 
}
.col-70 { 
    width:70% 
}
.col-30 { 
    width:30% 
}
.col {
    padding-right: 25px;
    &:last-child {
        padding-right: 0;
    }
}

@media (max-width: 600px){ 
    .col {
        padding-right: 0;
        width: 100%
    }
}