.jumbotron-image {
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
  }

  .white-text{
    -webkit-animation: fadein 2.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2.5s; /* Firefox < 16 */
     -ms-animation: fadein 2.5s; /* Internet Explorer */
      -o-animation: fadein 2.5s; /* Opera < 12.1 */
         animation: fadein 2.5s;
  }

  .homepage-button-container{
    -webkit-animation: fadein 3.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3.5s; /* Firefox < 16 */
     -ms-animation: fadein 3.5s; /* Internet Explorer */
      -o-animation: fadein 3.5s; /* Opera < 12.1 */
         animation: fadein 3.5s;
  }


@keyframes fadein {
    0% { opacity: 0%; }
    100%  { opacity: 100%; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% { opacity: 0%; }
  100%  { opacity: 100%; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% { opacity: 0%; }
  100%  { opacity: 100%; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  0% { opacity: 0%; }
  100%  { opacity: 100%; }
} 