/*--------------CSS Variables--------------*/

  /*Fonts*/
  $font: Roboto, sans-serif;
  
  /*Font sizes*/
  $small-text: 12px;
  $base-text: 16px;

  /*Colors*/
  $primary: #00A1E2;
  $dark-primary: #0D82B1;
  $background: #E5E5E5;
  $secondary: #A6ACBE;
  $base: #333333;
  $light: #F2F2F2;
  $white: #FFFFFF;
  $success: #16BC84;
  $error: #E72E2A;
  $table-buddy-row: #CCECE1;
  
